GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-project-id-fmcg-data-lake
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/google_credentials.json
KAGGLE_USERNAME=your-kaggle-username
KAGGLE_KEY=your-kaggle-api-key

# airflow
AIRFLOW__CORE__FERNET_KEY=generate-with-python-fernet
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres:5432/airflow
AIRFLOW_UID=50000
